@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
 
 :root{
     --red:#ff3838;
 }
 *{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline:none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
 }
 ::selection{
    background:var(--red);
    color:#fff;
 }
 html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
    scroll-padding-top: 6rem;
 }
 body{
    background:#f7f7f7;
 }
 section{
    padding: 2rem 9%;
 }
 .heading{
   text-align: center;
   font-size: 3.5rem;
   padding:1rem;
   color:#666;
 }
 .heading span{
   color: var(--red);
 }
 .btn{
    display:inline-block;
    padding:.8rem 3rem;
    border:.2rem solid var(--red);
    color:var(--red);
    cursor:pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
 }
 .btn::before{
    content: '';
    position:absolute;
    top:0; right:0;
    width:0%;
    height:100%;
    background:var(--red);
    transition: .3s linear;
    z-index: -1;
 }
 .btn:hover::before{
    width:100%;
    left: 0;
 }
 .btn:hover{
    color:#fff
 }
 header{
    position: relative;
    top:0; left: 0; right:0;
    z-index:1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    padding:0px 3%; 
    box-shadow: 0 5px 10px rgba(0,0,0, .1)
 }
 header .logo{
    font-size: 2rem;
    font-weight:bolder;
    color:#666;
 }
 header .logo i{
    padding-right: .5rem;
    color:var(--red);
 }
 header .navbar ul{
   list-style:none;
 }
 header .navbar ul li{
   position: relative;
   float: left;
 }
 header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #666;
    display: block;
 }
 header .navbar ul li a:hover{
    color:var(--red);
 }
 header .navbar ul li ul{
   position: absolute;
   left:0;
   width:200px;
   background: #fff;
   display: none;
 }
 header .navbar ul li ul li{
   width:100%;
   border-top: 1px solid rgba(0,0,0, .1);
 }
 header .navbar ul li ul li ul{
   left: 200px;
   top: 0;
 }
 header .navbar ul li:hover > ul{
   display: initial;
 }
 #menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color:#666;
    border:.1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
 }
 .home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items:center;
    background:url(img/home-bg.jpg) no-repeat;
    background-size:cover;
    background-position: center;
 }
 @keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
 }
  .product-list {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .about {
    font-style: italic;
    margin-top: 10px;
  }
  
  .price, .weight {
    background: var(--red);
   color: #fff;
   font-size: 1.5rem;
    margin-top: 5px;
  }
  
 
  /* media queries */
@media(max-width:991px){
    html{
        font-size: 55%;
      
     }  
     header{
        padding:2rem;
     }
     .product {
        width: 100%;
     }
     section{
        padding: 2rem;
     }
}
@media(max-width:768px){
    #menu-bar{
        display:initial;
    }
    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: #f7f7f7;
        border-top: 1px solid rgba(0,0,0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
    }
    header .navbar ul li{
      width: 100%;
   }
   
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar ul li ul{
      position: relative;
      width: 100%;
     }
     header .navbar ul li ul li{
      background: #eee;
     }
     header .navbar ul li ul li ul{
      width: 100%;
      left:0;
     }
    
}
@media(max-width:400px){
    html{
        font-size: 50%;    
     }  
    
}